.navbar {
    background-color: black;
}

.navbarCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

}

.logo a {
    color: #FFFFFA;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    transition: all .5s;
}
.logo {
    transition: all .1s;
    animation: logoAnimation 1s infinite;
}
.logo:hover {
    transform: scale(1.1);
    animation: none;
}
.logo a:hover {
    color: #FFECD1;
}

@keyframes logoAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);

    }
}

.navigation a {
    color: #FFFFFA;
    text-decoration: none;
    padding: 0 16px;

}

.contacts {
    display: flex;
    flex-direction: row;
}

.logoWrapper {
    height: 32px;
    background-color: #fff;
    margin: 0 8px;
    clip-path: circle(50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoWrapper img {
    height: 32px;
    transform: scale(1.2);
    transition: all .5s;
}

.logoWrapper img:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.logoWrapper img:active {
    transform: scale(1);
}

.tgLogo {

}

.vkLogo {

}